body {
  text-align: center;
  font-family: Arial, sans-serif;
}
img {
  text-align: center;
  width: 300px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 800px;
  margin: auto;
  padding: 30px;
}
.textbox {
  max-width: 600px;
  margin: auto;
}
#profile {
  font-weight: bold;
  margin: 20px;
  margin-left: 20px;
}
